/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;
}

#tab_view {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tab_view td, #tab_view th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  #tab_view td {
    cursor: pointer;
  }
  
  #tab_view tr:nth-child(even){background-color: #f2f2f2;}
  
  #tab_view tr:hover {background-color: #ddd;}
  
  #tab_view th {
    padding-top: 12px;
    padding-bottom: 12px;
    // text-align: center;
    background-color: #04AA6D;
    color: white;
    
    
  }

  a{
    color: white;
  }

  #linkText{
    cursor: pointer;
  }

  button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
